body{
    background-image: url(pattern.jpg)!important;
}
#title {
    background-color: cadetblue !important;
    margin-top: 0px;
    padding: 20px;
    color: beige;
}

.txtbox {
    margin-bottom: 5px;
    margin-top: 5px;
}

.button {
    display: inline-block !important;
}
